@charset "UTF-8";
/*

name: Style5-Flat
designer: wu
designer_url: http://3ping.org/
developer: HashiM
developer_url: http://kita2.net/
layouts: single, double, double-l, multi, multi2, multi2-l

*/

@import url(core.css);
@import url(layouts.css);

/*--------
	Font size setting
---------*/
body {
	font-size: 100%;
}

div#main {
	font-size: 100%;
}
