@charset "utf-8";

/*--------------------------------------
	Tag Cloud
---------------------------------------*/

div#tc01 ul.tagCloud {
	margin: 0;
	padding: 0.5em 10px;
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

div#tc01 ul.tagCloud li {
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 100%; /* ここで相対的に文字サイズを変更 */
}

div#tc01 ul.tagCloud li a {
	text-decoration: none;
	border: 0;
}

/* タグレベル1〜6 */

div#tc01 ul.tagCloud li.level1 a {
	font-size: 167%;
	font-weight: bold;
	color: #424242;
}

div#tc01 ul.tagCloud li.level2 a {
	font-size: 136%;
	font-weight: bold;
	color: #5e5e5e;
}

div#tc01 ul.tagCloud li.level3 a {
	font-size: 122%;
	font-weight: bold;
	color: #7a7a7a;
}

div#tc01 ul.tagCloud li.level4 a {
	font-size: 114%;
	color: #979797;
}

div#tc01 ul.tagCloud li.level5 a {
	font-size: 92%;
	color: #b3b3b3;
}

div#tc01 ul.tagCloud li.level6 a {
	font-size: 77%;
	color: #cfcfcf;
}

/* オンマウス */
div#tc01 ul.tagCloud li a:hover {
	color: #000;
}

/*--------------------------------------
	Tag Cloud2
---------------------------------------*/
div#tc02 ul.tagCloud {
	margin: 0;
	padding: 0.5em 10px;
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

div#tc02 ul.tagCloud li {
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 100%; /* ここで相対的に文字サイズを変更 */
}

div#tc02 ul.tagCloud li a {
	text-decoration: none;
	border: 0;
}

/* タグレベル1〜6 */

div#tc02 ul.tagCloud li.level1 a {
	font-size: 167%;
	font-weight: bold;
	color: #88261a;
}

div#tc02 ul.tagCloud li.level2 a {
	font-size: 136%;
	font-weight: bold;
	color: #c24b46;
}

div#tc02 ul.tagCloud li.level3 a {
	font-size: 122%;
	font-weight: bold;
	color: #bc6950;
}

div#tc02 ul.tagCloud li.level4 a {
	font-size: 114%;
	color: #be8776;
}

div#tc02 ul.tagCloud li.level5 a {
	font-size: 92%;
	color: #d2b298;
}

div#tc02 ul.tagCloud li.level6 a {
	font-size: 77%;
	color: #d1c4c0;
}

/* オンマウス色 */
div#tc02 ul.tagCloud li a:hover {
	color: #000;
}

/*--------------------------------------
	Tag Cloud3
---------------------------------------*/
div#tc03 ul.tagCloud {
	margin: 0;
	padding: 0.5em 10px;
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

div#tc03 ul.tagCloud li {
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 100%; /* ここで相対的に文字サイズを変更 */
}

div#tc03 ul.tagCloud li a {
	text-decoration: none;
	border: 0;
}

/* タグレベル1〜6 */

div#tc03 ul.tagCloud li.level1 a {
	font-size: 167%;
	font-weight: bold;
	color: #3d881a;
}

div#tc03 ul.tagCloud li.level2 a {
	font-size: 136%;
	font-weight: bold;
	color: #76c246;
}

div#tc03 ul.tagCloud li.level3 a {
	font-size: 122%;
	font-weight: bold;
	color: #66bc50;
}

div#tc03 ul.tagCloud li.level4 a {
	font-size: 114%;
	color: #84be76;
}

div#tc03 ul.tagCloud li.level5 a {
	font-size: 92%;
	color: #98d299;
}

div#tc03 ul.tagCloud li.level6 a {
	font-size: 77%;
	color: #c3d1c0;
}

/* オンマウス色 */
div#tc03 ul.tagCloud li a:hover {
	color: #000;
}

/*--------------------------------------
	Tag Cloud4
---------------------------------------*/
div#tc04 ul.tagCloud {
	margin: 0;
	padding: 0.5em 10px;
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

div#tc04 ul.tagCloud li {
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 100%; /* ここで相対的に文字サイズを変更 */
}

div#tc04 ul.tagCloud li a {
	text-decoration: none;
	border: 0;
}

/* タグレベル1〜6 */

div#tc04 ul.tagCloud li.level1 a {
	font-size: 167%;
	font-weight: bold;
	color: #3e5b71;
}

div#tc04 ul.tagCloud li.level2 a {
	font-size: 136%;
	font-weight: bold;
	color: #668eac;
}

div#tc04 ul.tagCloud li.level3 a {
	font-size: 122%;
	font-weight: bold;
	color: #668eac;
}

div#tc04 ul.tagCloud li.level4 a {
	font-size: 114%;
	color: #87a6be;
}

div#tc04 ul.tagCloud li.level5 a {
	font-size: 92%;
	color: #a7becf;
}

div#tc04 ul.tagCloud li.level6 a {
	font-size: 77%;
	color: #c7d5e0;
}

/* オンマウス色 */
div#tc04 ul.tagCloud li a:hover {
	color: #000;
}

/*--------------------------------------
	Tag Cloud5
---------------------------------------*/
div#tc05 ul.tagCloud {
	margin: 0;
	padding: 0.5em 10px;
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

div#tc05 ul.tagCloud li {
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 100%; /* ここで相対的に文字サイズを変更 */
}

div#tc05 ul.tagCloud li a {
	text-decoration: none;
	border: 0;
}

/* タグレベル1〜6 */

div#tc05 ul.tagCloud li.level1 a {
	font-size: 167%;
	font-weight: bold;
	color: #760e3b;
}

div#tc05 ul.tagCloud li.level2 a {
	font-size: 136%;
	font-weight: bold;
	color: #a81454;
}

div#tc05 ul.tagCloud li.level3 a {
	font-size: 122%;
	font-weight: bold;
	color: #db1a6d;
}

div#tc05 ul.tagCloud li.level4 a {
	font-size: 114%;
	color: #e9458c;
}

div#tc05 ul.tagCloud li.level5 a {
	font-size: 92%;
	color: #ef77ab;
}

div#tc05 ul.tagCloud li.level6 a {
	font-size: 77%;
	color: #f5aaca;
}

/* オンマウス色 */

div#tc05 ul.tagCloud li a:hover {
	color: #000;
}

/*--------------------------------------
	Tag Cloud6
---------------------------------------*/
div#tc06 ul.tagCloud {
	margin: 0;
	padding: 0.5em 10px;
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

div#tc06 ul.tagCloud li {
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 100%; /* ここで相対的に文字サイズを変更 */
}

div#tc06 ul.tagCloud li a {
	text-decoration: none;
	border: 0;
}

/* タグレベル1〜6 */

div#tc06 ul.tagCloud li.level1 a {
	font-size: 167%;
	color: #db00aa;
	font-weight: bold;
}

div#tc06 ul.tagCloud li.level2 a {
	font-size: 136%;
	color: #e771b4;
	font-weight: bold;
}

div#tc06 ul.tagCloud li.level3 a {
	font-size: 122%;
	color: #bf79b5;
}

div#tc06 ul.tagCloud li.level4 a {
	font-size: 114%;
	color: #a57c9d;
}

div#tc06 ul.tagCloud li.level5 a {
	font-size: 92%;
	color: #897c9d;
}

div#tc06 ul.tagCloud li.level6 a {
	font-size: 77%;
	color: #567d9d;
}

/* オンマウス色 */
div#tc06 ul.tagCloud li a:hover {
	color: #000;
}

/*--------------------------------------
	Tag Cloud7
---------------------------------------*/
div#tc07 ul.tagCloud {
	margin: 0;
	padding: 0.5em 10px;
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

div#tc07 ul.tagCloud li {
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 100%; /* ここで相対的に文字サイズを変更 */
}

div#tc07 ul.tagCloud li a {
	text-decoration: none;
	border: 0;
}

/* タグレベル1〜6 */

div#tc07 ul.tagCloud li.level1 a {
	font-size: 167%;
	font-weight: bold;
	color: #01f098;
}

div#tc07 ul.tagCloud li.level2 a {
	font-size: 136%;
	font-weight: bold;
	color: #01ddd5;
}

div#tc07 ul.tagCloud li.level3 a {
	font-size: 122%;
	font-weight: bold;
	color: #2300a7;
}

div#tc07 ul.tagCloud li.level4 a {
	font-size: 114%;
	color: #2300a7;
}

div#tc07 ul.tagCloud li.level5 a {
	font-size: 92%;
	color: #4d007d;
}

div#tc07 ul.tagCloud li.level6 a {
	font-size: 77%;
	color: #32004f;
}

/* オンマウス色 */
div#tc07 ul.tagCloud li a:hover {
	color: #000;
}

/*--------------------------------------
	Tag Cloud8
---------------------------------------*/
div#tc08 ul.tagCloud {
	margin: 0;
	padding: 0.5em 10px;
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

div#tc08 ul.tagCloud li {
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 100%; /* ここで相対的に文字サイズを変更 */
}

div#tc08 ul.tagCloud li a {
	text-decoration: none;
	border: 0;
}

/* タグレベル1〜6 */

div#tc08 ul.tagCloud li.level1 a {
	font-size: 167%;
	font-weight: bold;
	color: #f30871;
}

div#tc08 ul.tagCloud li.level2 a {
	font-size: 136%;
	font-weight: bold;
	color: #e50d11;
}

div#tc08 ul.tagCloud li.level3 a {
	font-size: 122%;
	font-weight: bold;
	color: #da2f10;
}

div#tc08 ul.tagCloud li.level4 a {
	font-size: 114%;
	color: #d15c15;
}

div#tc08 ul.tagCloud li.level5 a {
	font-size: 92%;
	color: #c58f1b;
}

div#tc08 ul.tagCloud li.level6 a {
	font-size: 77%;
	color: #b7ba0a;
}

/* オンマウス色 */
div#tc08 ul.tagCloud li a:hover {
	color: #000;
}

/*--------------------------------------
	Tag Cloud9
---------------------------------------*/
div#tc09 ul.tagCloud {
	margin: 0;
	padding: 0.5em 10px;
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

div#tc09 ul.tagCloud li {
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 100%; /* ここで相対的に文字サイズを変更 */
}

div#tc09 ul.tagCloud li a {
	text-decoration: none;
	border: 0;
}

/* タグレベル1〜6 */

div#tc09 ul.tagCloud li.level1 a {
	font-size: 167%;
	font-weight: bold;
	color: #dc5f1f;
}

div#tc09 ul.tagCloud li.level2 a {
	font-size: 136%;
	font-weight: bold;
	color: #d0a722;
}

div#tc09 ul.tagCloud li.level3 a {
	font-size: 122%;
	font-weight: bold;
	color: #c7bd24;
}

div#tc09 ul.tagCloud li.level4 a {
	font-size: 114%;
	color: #a6bf28;
}

div#tc09 ul.tagCloud li.level5 a {
	font-size: 92%;
	color: #75b52c;
}

div#tc09 ul.tagCloud li.level6 a {
	font-size: 77%;
	color: #75b52c;
}

/* オンマウス色 */
div#tc09 ul.tagCloud li a:hover {
	color: #000;
}

/*--------------------------------------
	Tag Cloud10
---------------------------------------*/
div#tc10 ul.tagCloud {
	margin: 0;
	padding: 0.5em 10px;
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

div#tc10 ul.tagCloud li {
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 100%; /* ここで相対的に文字サイズを変更 */
}

div#tc10 ul.tagCloud li a {
	padding: 0 5px;
	position: relative;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #eee;
}

div#tc10 ul.tagCloud li.level1 a {
	z-index: 6;
	font-size: 167%;
	color: #424242;
}

div#tc10 ul.tagCloud li.level2 a {
	top: 5px;
	z-index: 5;
	font-size: 136%;
	color: #5e5e5e;
}

div#tc10 ul.tagCloud li.level3 a {
	font-size: 114%;
	color: #7a7a7a;
	z-index: 4;
}

div#tc10 ul.tagCloud li.level4 a {
	top: 5px;
	z-index: 3;
	font-size: 100%;
	color: #979797;
}

div#tc10 ul.tagCloud li.level5 a {
	font-size: 85%;
	color: #b3b3b3;
	z-index: 2;
}

div#tc10 ul.tagCloud li.level6 a {
	z-index: 1;
	font-size: 70%;
	color: #cfcfcf;
}

/* オンマウス */
div#tc10 ul.tagCloud li a:hover {
	border-color: #666;
	z-index: 10;
	color: #000;
	background-color: #eee;
}

/*--------------------------------------
	Tag Cloud11
---------------------------------------*/
div#tc11 ul.tagCloud {
	margin: 0;
	padding: 0.5em 10px;
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

div#tc11 ul.tagCloud li {
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 100%; /* ここで相対的に文字サイズを変更 */
}

div#tc11 ul.tagCloud li a {
	padding: 0 5px;
	position: relative;
	text-decoration: none;
	color: #fff;
	background-color: #fff;
	border: 1px solid #e2edb5;
}

div#tc11 ul.tagCloud li.level1 a {
	z-index: 6;
	font-size: 167%;
	background-color: #b5d246;
}

div#tc11 ul.tagCloud li.level2 a {
	top: 5px;
	z-index: 5;
	font-size: 136%;
	background-color: #c0d860;
}

div#tc11 ul.tagCloud li.level3 a {
	z-index: 4;
	font-size: 114%;
	background-color: #cbe07d;
}

div#tc11 ul.tagCloud li.level4 a {
	top: 5px;
	z-index: 3;
	font-size: 100%;
	background-color: #d6e699;
}

div#tc11 ul.tagCloud li.level5 a {
	z-index: 2;
	font-size: 85%;
	background-color: #e2edb5;
}

div#tc11 ul.tagCloud li.level6 a {
	z-index: 1;
	font-size: 70%;
	background-color: #edf4d0;
}

/* オンマウス */
div#tc11 ul.tagCloud li a:hover {
	z-index: 10;
	border-color: #a2ba42;
	background-color: #b4cc54;
}

/*--------------------------------------
	Tag Cloud12
---------------------------------------*/
div#tc12 ul.tagCloud {
	margin: 0;
	padding: 0.5em 10px;
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

div#tc12 ul.tagCloud li {
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 100%; /* ここで相対的に文字サイズを変更 */
}

div#tc12 ul.tagCloud li a {
	padding: 0 5px;
	position: relative;
	text-decoration: none;
	color: #fff;
	background-color: #fff;
}

div#tc12 ul.tagCloud li.level1 a {
	z-index: 6;
	font-size: 167%;
	background-color: #6897af;
}

div#tc12 ul.tagCloud li.level2 a {
	top: 5px;
	z-index: 5;
	font-size: 136%;
	background-color: #7ea6ba;
}

div#tc12 ul.tagCloud li.level3 a {
	z-index: 4;
	font-size: 114%;
	background-color: #95b6c7;
}

div#tc12 ul.tagCloud li.level4 a {
	top: 5px;
	z-index: 3;
	font-size: 100%;
	background-color: #acc6d3;
}

div#tc12 ul.tagCloud li.level5 a {
	z-index: 2;
	font-size: 85%;
	background-color: #c3d6df;
}

div#tc12 ul.tagCloud li.level6 a {
	z-index: 1;
	font-size: 70%;
	background-color: #d9e5eb;
}

/* オンマウス */
div#tc12 ul.tagCloud li a:hover {
	z-index: 10;
	background-color: #5a89a1;
}

/*--------------------------------------
	Tag Cloud13
---------------------------------------*/
div#tc13 ul.tagCloud {
	margin: 0;
	padding: 0.5em 10px;
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

div#tc13 ul.tagCloud li {
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 100%; /* ここで相対的に文字サイズを変更 */
}

div#tc13 ul.tagCloud li a {
	padding: 0 5px;
	border-width: 1px;
	border-style: solid;
	position: relative;
	text-decoration: none;
	background-color: #fff;
}

div#tc13 ul.tagCloud li.level1 a {
	border-color: #df28ac;
	z-index: 6;
	font-size: 167%;
	font-weight: bold;
	color: #df28ac;
}

div#tc13 ul.tagCloud li.level2 a {
	border-color: #eb79b5;
	top: 5px;
	z-index: 5;
	font-size: 136%;
	font-weight: bold;
	color: #eb79b5;
}

div#tc13 ul.tagCloud li.level3 a {
	border-color: #c27fb7;
	z-index: 4;
	font-size: 114%;
	color: #c27fb7;
}

div#tc13 ul.tagCloud li.level4 a {
	border-color: #a77f9f;
	top: 5px;
	z-index: 3;
	font-size: 100%;
	color: #a77f9f;
}

div#tc13 ul.tagCloud li.level5 a {
	border-color: #8a7f9f;
	z-index: 2;
	font-size: 85%;
	color: #8a7f9f;
}

div#tc13 ul.tagCloud li.level6 a {
	border-color: #507f9f;
	z-index: 1;
	font-size: 70%;
	color: #507f9f;
}

/* オンマウス */
div#tc13 ul.tagCloud li a:hover {
	border-color: #fff;
	z-index: 10;
	color: #fff;
	background-color: #cc0063;
}
