@charset "UTF-8";

/*
Skin Name: Galaxy Skin - Core Style
Author: vicuna.jp
Licence: MIT Licence
*/

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

/* Yahoo fonts.css 2.7.0
http://developer.yahoo.net/yui/license.txt
- Font size Adjustment.
  http://developer.yahoo.com/yui/examples/fonts/fonts-size_source.html
*/ body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

/*========================================
  Elements
========================================*/

body {
	color: #eee;
	background-color: #3e3e3e;
}

/* Link
---------------*/

a:link {
	color: #ccc;
}

a:visited {
	color: #cfcfcf;
}

a:hover {
	color: #fff;
}

a:focus,
textarea:focus,
input:focus {
	outline: 1px solid #333;
}

/* Text
---------------*/

h2 {
	margin: 1em 0;
	font-size: 131%;
	color: #fff;
}

h3 {
	margin-top: 2em;
	padding-bottom: 0.4em;
	border-bottom: 4px solid #222;
	font-size: 116%;
}

p {
	margin: 1em 0;
}

blockquote {
	margin: 1em 0 1em 20px;
	padding: 1px 20px;
	border: 1px solid #222;
	color: #999;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

pre {
	padding: 10px 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #232323 #4e4e4e #4e4e4e #232323;
	background-color: #3d3d3d;
	overflow: auto;
	width: 90%;
	_width: 95%; /* for IE6 */
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

em {
	padding: 2px 3px;
	font-weight: bold;
	color: #fff;
	background-color: #111;
	font-style: normal;
}

strong {
	color: deeppink;
}

/* List
---------------*/

ul,
ol {
	margin: 1em 30px;
	padding: 0;
	list-style-position: outside;
}

ul ul,ul ol,ul ol,ol ol {
	margin: 0.3em 0 0.3em 15px;
}

/* form
---------------*/

form {
	margin: 1em 0;
	border-right: 1px solid #222;
	border-bottom: 1px solid #222;
	background-color: #292929;
}

fieldset {
	padding: 1px 0;
	border: none;
}

legend {
	padding: 3px 10px;
	background-color: #222;
}

input,
textarea {
	padding: 0.2em;
	border-width: 1px;
	border-style: solid;
	border-color: #171717 #333 #333 #171717;
	color: #eee;
	background-color: #222;
}

input:hover,
textarea:hover {
	border-color: #000;
}

textarea {
	padding: 0.5em 10px;
}

input.submit,
input[type="submit"] {
	padding: 5px 10px;
	border: none;
	font-size: 85%;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	background-color: #78890c;
}

input.submit:hover,
input[type="submit"]:hover {
	background-color: #b1c722;
}

input.radio {
	border: none;
	background-color: transparent;
	background-image: none;
}

/* Table
---------------*/

table {
	margin: 1em 0;
	border: 1px solid #111;
	background-color: #222;
}

caption {
	padding-bottom: 0.3em;
}

th,
td {
	padding: 0.3em 10px;
	border-collapse: separate;
	border-spacing: 1px;
}

th {
	border-right: 1px solid #ddd;
	color: #333;
	background-color: #f5f5f5;
}

td {
	border-right: 1px solid #191919;
	border-top: 1px solid #191919;
}

/* Others
---------------*/

hr {
	margin: 1.5em 0;
	border: none;
	border-top: 1px dotted #222;
}

select#entry-category,
input#entry-title {
	width: 26em;
	margin: 0.5em 10px;
	padding: 1px 0.2em;
	font-size: 100%;
}

/*========================================
  #header
========================================*/

#header {
	padding: 1px 0;
	background-color: #282828;
}

/* Website Title
---------------*/

#header p.siteName,
#header h1.siteName {
	margin: 25px 30px 10px;
	line-height: 1;
	font-size: 144%;
	font-weight: bold;
}

#header p.siteName a,
#header h1.siteName a {
	text-decoration: none;
	color: #fff;
}

#header p.siteName a:hover,
#header h1.siteName a:hover {
	color: #fff;
}

#header p.description {
	margin: 0 30px 25px;
	font-size: 92%;
	color: #999;
}

/* #globalNavi ul
---------------*/

#globalNavi ul {
	margin: 0 0 -1px 0;
	padding: 0;
	line-height: 1;
	color: #fff;
	background-color: #1e1e1e;
	list-style-type: none;
}

#globalNavi ul li {
	margin: 0;
	padding: 0;
	float: left;
	/*
	width: 110px;
	*/
	text-align: center;
}

#globalNavi ul li a {
	border-right: 1px solid #1a1a1a;
	padding: 9px 20px;
	display: block;
	position: relative; /* for IE6 */
	color: #fff;
	background-color: #222;
	text-decoration: none;
}

#globalNavi ul li a:hover,
#globalNavi ul li.current a {
	color: #fff;
	background-color: #111;
}

/*========================================
  #content
========================================*/

#content {
	padding-bottom: 1px;
	border-top: 1px solid #222;
	background-color: #303030;
}

p.topicPath {
	margin: 0 30px 10px;
	padding-top: 8px;
	line-height: 1.6;
}

p.topicPath a {
	text-decoration: none;
}

p.topicPath span.current {
	padding: 1px 10px;
	color: #fff;
	background-color: #3e3e3e;
}

/*=========================
 #main
=========================*/
/* div.entry
---------------*/

div.entry,
article.entry {
	margin: 0 30px 1em;
	padding: 1px 0;
	_height: 1px; /* for IE6 */
	*min-height: 1px; /* for IE7 */
}

entry > article.section,
.entry > article.headline,
.system > .entry > section.section {
	margin: 0;
	border: 0;
}

#main > h1 {
	margin: 0;
	padding: 15px 30px;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	line-height: 1.5;
	font-size: 167%;
	color: #fff;
	background-color: #222;
}

/* Entry Title
---------------*/

.entry > .section h1 {
	margin-bottom: 0;
	padding: 0.3em 13px;
	font-size: 131%;
	border: 0;
	border-left: 5px solid #161616;
	border-bottom: 1px dotted #111;
}

.entry > .section h1 > a {
	text-decoration: none;
}

.entry > .section h1 > a:link {
	color: #eee;
}

.entry > .section h1 > a:visited {
	color: #444;
}

.entry > .section h1 > a:hover {
	color: #fff;
	text-decoration: underline;
}

article.section > div.textBody h2,
.individual article.entry h3,
.webPage article.entry h3 {
	margin: 2em 0 1em;
	padding-bottom: 0.4em;
	font-size: 116%;
	border-bottom: 4px solid #222;
}

article.section > div.textBody h3,
.individual article.entry h4,
.webPage article.entry h4 {
	margin-top: 1em;
	padding-bottom: 0.2em;
	border-bottom: 0;
	font-size: 100%;
}

article.section > div.textBody h4,
.individual article.entry h5,
.webPage article.entry h5 {
	margin-top: 1em;
	font-size: 92%;
}

article.section > div.textBody h5,
.individual article.entry h6,
.webPage article.entry h6 {
	margin-top: 1em;
	font-size: 84%;
}

div.entry div#profile-comment-threads {
	border: none transparent;
}

/* ul.info
---------------*/

ul.info {
	margin: 0 0 1em 0;
	padding: 0.3em 0;
	border-left: 5px solid #222;
	list-style-type: none;
	background-color: #292929;
}

ul.info > li {
	margin: 0.3em 0;
	padding: 0 15px;
	border-right: 1px solid #000;
	color: #eee;
	float: left;
	font-size: 85%;
}

ul.info > li a {
	text-decoration: none;
}

/*body.individual ul.info */

article.entry ul.info,
.archives div.entry ul.info,
.system div.entry ul.info {
	margin: 0 -30px 1.5em;
	padding: 0.3em 30px;
	position: relative;
	top: -2px;
	background-color: #1e1e1e;
}

article.entry > ul.info li,
.archives div.entry ul.info > li,
.system div.entry ul.info > li {
	border-right: none;
	border-left: 1px solid #000;
}

#snsb {
	margin: 0.3em 0 0;
	border: 0;
}

#snsb > ul {
	margin: 0;
	list-style: none;
}

#snsb > ul > li {
	display: inline-block;
	font-size: 82%;
	margin: 0;
	width: 110px;
}

#snsb > ul > li.mark {
	width: 80px;
}

/* Text Style
---------------*/

.individual article.entry h2,
.webPage article.entry h2 {
	margin-bottom: 0;
	padding: 0.3em 13px;
	font-size: 131%;
	border: 0;
	border-left: 5px solid #161616;
	border-bottom: 1px dotted #111;
}

div.textBody p {
	line-height: 1.7;
}

div.textBody h2 {
	margin-top: 2em;
}

div.textBody dl {
	margin-top: 1em;
	padding: 0.5em 20px;
	border: 1px solid #222;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

div.textBody dt {
	margin: 0.7em 0;
	padding-bottom: 0.3em;
	border-bottom: 1px solid #252525;
	font-weight: bold;
	color: #b1c722;
}

div.textBody dd {
	margin: 0.5em 0;
}

article.entry > aside {
	margin-top: 0.8em;
}

article.entry p > img {
	max-width: 100%;
	height: auto;
}

/* ul.reaction
---------------*/

footer > ul.reaction {
	margin: 1em 0;
	border-top: 1px solid #222;
	list-style-type: none;
}

footer > ul.reaction li {
	margin: 0 10px 0 0;
	padding: 5px 10px 0 0;
	border-right: 1px solid #222;
	float: left;
}

/* page navi
---------------*/

p.archives {
	margin: 1em 0;
}

p.return {
	margin: 0 30px;
	padding: 0.7em 0;
	text-align: right;
	clear: both;
}

/* Newer | Older */

ul#flip1 {
	margin: 0 0 0 30px;
	list-style-type: none;
	position: relative;
	top: 1px;
}

ul#flip1 li {
	float: left;
	width: 60px;
	font-size: 92%;
	text-align: center;
	line-height: 1;
}

ul#flip1 li a {
	margin-right: 2px;
	padding: 5px 0 3px;
	border-bottom: none;
	display: block;
	text-decoration: none;
	color: #eee;
	background-color: #222;
}

ul#flip1 li a:hover {
	color: #fff;
	background-color: #111;
}

ul#flip2 {
	margin: 1em 0;
	padding: 0.8em 15px;
	border: 1px solid #222;
	list-style-position: inside;
}

ul#flip1 li.create-entry {
	width: 9.8em;
	padding-right: 10px;
	float: none;
	clear: both;
	font-size: 92%;
	text-align: center;
	line-height: 1;
}

ul#flip1 li.create-entry a {
	padding-left: 25px;
	padding-right: 10px;
}

/*=========================
  #Comments, 
  #Trackbacks
=========================*/

#comments,
#trackback {
	margin: 2em 0;
	_height: 1px; /* for IE6 */
}

#comments h1,
#trackback h1 {
	margin-bottom: 1em;
	padding: 0.5em 15px;
	font-size: 116%;
	color: #fff;
	background-color: #222;
}

#comments h1 span.separator {
	margin-left: 0.5em;
	margin-right: 0.5em;
	font-size: 85%;
}

#comments h1 a.entrep {
	font-size: 85%;
}

#comments a.entrep:link {
	color: #fff;
}

#comments a.entrep:visited {
	color: #fee;
}

#comments a.entrep:hover {
	color: #eff;
}

#comments div.log article article {
	margin-left: 0.5em;
}

#comments div.log article p,
#trackback div.log article p span {
	margin: 0.8em 0 0;
	font-weight: bold;
}

#comments div.log article p span.name,
#trackback div.log article p span.name {
	color: #b1c722;
}

#comments div.log article p span.date,
#trackback div.log article p span.date {
	margin-left: 10px;
	color: #999;
	font-weight: normal;
}

#comments div.log article div,
#trackback div.log article {
	margin: 0;
	padding: 0.8em 0 1em;
	border-bottom: 1px dotted #111;
}

#comments div.log article div p,
#trackback div.log article p {
	margin: 0;
	font-weight: normal;
}

/* Comment form
---------------*/

#comments-form ul {
	margin: 0.5em 20px;
	list-style: none;
}

#comments-form p {
	margin: 1em 20px;
}

#comments-form ul li {
	margin: 0.5em 0;
}

#comments-form ul li imput {
	margin: 0.5em 0.8em;
}

#comments-form div.actions-bar {
	margin: 0.5em 20px 1em;
}

#comments-form div.actions-bar input {
	margin: 0 5px 0 0;
}

#comments-form ul li textarea {
	width: 80%;
	max-width: 85%;
}

/* Trackback info
---------------*/

#trackback ul.info {
	margin: 1em 0;
	padding: 0.8em 0;
	border-right: 1px solid #222;
	border-bottom: 1px solid #222;
	background-color: #292929;
}

#trackback ul.info li {
	font-size: 100%;
	border: 0;
	float: none;
	clear: both;
	margin: 0.3em 5px;
}

#trackback ul.info li.URL {
	margin: 0.5em 10px;
	padding: 0.5em 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #171717 #333 #333 #171717;
	background-color: #222;
	color: #b1c722;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*=========================
  #utilities
=========================*/

#utilities p {
	margin: 0.2em 10px;
}

#utilities div {
	margin: 5px 0;
	padding-bottom: 5px;
}

#utilities div > section h1,
#utilities div > aside h1 {
	margin: 8px 5px 5px;
	padding: 0 10px 1px;
	color: #fff;
	font-weight: bold;
}

#utilities section > div,
#utilities aside > div {
	margin: 0 5px;
	padding: 1px 0;
	border-top: 3px solid #1e1e1e;
	background-color: #272727;
}

#utilities section > div ul,
#utilities aside > div ul {
	margin: 5px 10px 5px 25px;
}

#utilities section > div ul li,
#utilities aside > div ul li {
	margin: 0.5em 0;
}

#utilities section > div ul li a,
#utilities aside > div ul li a {
	text-decoration: none;
}

#utilities section > .y-mArchives ul.mlist {
	list-style: none;
	margin-left: 0;
}

#utilities section > .y-mArchives ul.mlist > li {
	display: inline;
}

#utilities section > .members ul,
#utilities section > div .user-listing {
	list-style: none;
}

#utilities section > .recentComments li.rc-user ul,
#utilities section > .categoryArchives .forum ul {
	list-style: none;
	margin-left: 0;
}

#utilities section > .members li {
	display: inline;
}

/* Feeds
---------------*/

#utilities section > div ul.feed {
	margin-left: 10px;
	list-style-type: none;
	list-style-position: outside;
}

#utilities section > div ul.feed li {
	margin-left: 0;
}

#utilities section > div ul.feed li a {
	padding-left: 20px;
	background: url(images/icon/icon_feed.gif) no-repeat;
}

#utilities section > div form {
	margin: 0;
	padding: 1px 5px;
	border: none;
}

#utilities section > div legend {
	display: none;
}

#utilities section > div input.inputField {
	width: 45%;
}

#utilities section > div input.submit {
	padding: 0.2em 2px;
	font-size: 10px;
}

/*========================================
  #footer
========================================*/

#footer {
	padding: 1px 0 1em;
}

#footer a {
	color: #aaa;
	text-decoration: none;
}

#footer a:hover {
	color: #fff;
}

#footer ul {
	margin: 0.7em 0;
	text-align: right;
	color: #ddd;
	font-size: 85%;
}

#footer ul li {
	margin-left: 5px;
	display: inline;
}

#footer address,
#footer p {
	text-align: right;
	font-style: normal;
	color: #eee;
}

/*========================================
  Class
========================================*/
/* Headline
---------------*/

article.headline {
	margin: 0.5em 0;
}

article.headline > h1,
article.headline > h2 {
	font-size: 100%;
	font-weight: normal;
	line-height: 1.1;
	margin: 0.8em 0;
	padding: 0;
	border: 0;
}

article.headline > h1 span.date,
article.headline > h2 span.date {
	font-size: 85%;
}

article.headline > ul {
	margin: 0.5em 0 1.2em;
	padding-bottom: 1.2em;
	border-bottom: 3px solid #222;
	margin: 0;
	list-style-type: none;
}

article.headline > ul li {
	margin: 0.3em 5px 0.3em 0;
	display: inline;
	font-size: 92%;
}

article.headline > ul li.textBody {
	display: block;
	font-size: 100%;
}

div.entry article.headlbox {
	margin: 0;
	padding: 0;
	display: table;
	width: 100%;
	font-size: 95%;
	border-bottom: 1px solid #ddd;
}

div.entry article.headlbox:first-child {
	margin-top: 1.8em;
}

article.headlbox ul {
	margin: 0.5em 0.3em;
	list-style: none;
}

div.entry-sect, p.ccount, div.lcomment {
	margin: 0;
	padding: 0.2em;
	display: table-cell;
	border-right: 1px solid #ddd;
}

.headlbox > div.entry-sect {
}

.headlbox > p.ccount {
	text-align: center;
	width: 50px;
	vertical-align: middle;
}

.headlbox > div.lcomment {
	width: 40%;
	padding-left: 0.5em;
	border-right: 0;
	vertical-align: middle;
}

/* ul.thumb
---------------*/

ul.thumb,
#utilities ul.thumb {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.thumb li {
	margin: 0;
	padding: 0;
	float: left;
	width: 33%;
	overflow: hidden;
	font-size: 0;
}

ul.thumb li a img {
	border: none;
	border-left: 1px solid #303030;
	border-bottom: 1px solid #303030;
}

ul.thumb li a:hover img {
	border-bottom: 1px solid #b1c722;
}

/* Tag cloud
---------------*/

ul.tagCloud {
	margin: 1em 0;
	line-height: 1;
	_height: 1px; /* for IE6 */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

#utilities div ul.tagCloud {
	margin: 0.2em 10px;
	padding: 6px 10px;
	background: #111;

	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

ul.tagCloud li {
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 100%;
}

ul.tagCloud li a {
	text-decoration: none;
}

/* Tag level 1 > 6 */

ul.tagCloud li.level1 a {
	font-size: 167%;
	font-weight: bold;
	color: #10c8f3;
}

ul.tagCloud li.level2 a {
	font-size: 136%;
	font-weight: bold;
	color: #1d6dee;
}

ul.tagCloud li.level3 a {
	font-size: 122%;
	font-weight: bold;
	color: #2851eb;
}

ul.tagCloud li.level4 a {
	font-size: 114%;
	color: #3431e6;
}

ul.tagCloud li.level5 a {
	font-size: 92%;
	color: #703ce0;
}

ul.tagCloud li.level6 a {
	font-size: 77%;
	color: #b648f2;
}

/* On Mouse */
ul.tagCloud li a:hover {
	color: #fff;
}

/* Calendar
---------------*/

table.calendar {
	margin: 0 auto 5px;
	width: 95%;
}

table.calendar th,
table.calendar td {
	padding: 0;
	line-height: 1.8;
	font-size: 85%;
	text-align: center;
}

table.calendar th {
	line-height: 2;
	border-color: #111;
	font-weight: normal;
	color: #ccc;
	background-color: #1e1e1e;
}

table.calendar th.sat {
	font-weight: bold;
	background-color: #111;
}

table.calendar th.sun {
	font-weight: bold;
	background-color: #131313;
}

table.calendar td {
	color: #888;
	padding: 0;
	width: 14%;
}

table.calendar td a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	color: #b1c722;
}

table.calendar td a:visited {
	color: #333;
	background-color: #111;
}

table.calendar td a:hover {
	border-color: #84dafe;
	color: #fff;
	background-color: #b1c722;
}

/* Rpnavi
---------------*/
.entry ul.rpnavi {
	list-style: none;
}

.entry ul.rpnavi > li {
	display: inline;
}

.entry ul.rpnavi > li.current {
	font-weight: bold;
}

/* Option
---------------*/

.option {
	margin: 1em 30px;
	padding: 1px 10px;
	border: 1px solid #333;
}

.summary {
	display: none;
}

/* Clearfix
---------------*/

#globalNavi ul,
div#content,
div.entry ul.info,
article.entry ul.info,
div.entry div.textBody,
article.entry div.textBody,
ul.reaction,
ul.thumb,
ul.flip,
body.multi2 div#utilities,
body.multi2-l div#utilities {
	_height: 1px;
	min-height: 1px;
	/*¥*//*/
	height: 1px;
	overflow: hidden;
	/**/
}

#globalNavi ul:after,
div#content:after,
div.entry ul.info:after,
div.entry div.textBody:after,
div.entry ul.reaction:after,
article.entry ul.info:after,
article.entry div.textBody:after,
article.entry ul.reaction:after,
ul.thumb:after,
ul.flip:after,
body.multi2 div#utilities:after,
body.multi2-l div#utilities:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}

.create-entry a {
	padding-left: 30px;
	background-image: url(images/forum/start-topic-icon.png);
	background-repeat: no-repeat;
	background-position: 10px 3px;
}

.icon-comment {
	background: url(images/forum/reply-icon.gif) no-repeat 0 30%;
	padding-left: 15px;
}

.icon-entry {
	background: url(images/forum/topic-icon.gif) no-repeat 2px 50%;
	padding-left: 15px;
}

.icon-score {
	background: url(images/forum/score-icon.gif) no-repeat 0 50%;
	padding-left: 15px;
}

.entry-asset .asset-meta .byline,
.entry-asset .asset-meta .entry-meta-comments,
.entry-asset .asset-meta .entry-meta-trackbacks {
	margin-right: 10px;
}

.entry-meta-comments {
	background: url(images/forum/comment-icon.gif) no-repeat 0px 50%;
	padding: 0 0 3px 18px;
}

a.scoring {
	white-space: nowrap;
	background: url(images/forum/scoring-stars.gif) no-repeat 0 -120px;
	padding: 0 0 3px 18px;
	line-height: 22px;
	text-decoration: none;
	cursor: default;
}

a.scoring-scorable {
	background-position: 0 0;
	text-decoration: default;
	cursor: pointer;
}

a:hover.scoring-scorable {
	background-position: 0 -40px;
	text-decoration: underline;
}

a.scoring-pending,
a:hover.scoring-pending {
	background: url(images/forum/scoring-pending.gif) no-repeat;
	cursor: wait;
}

a.scoring-scored,
a:hover.scoring-scored {
	background-position: 0 -80px;
}

.scoring-vote,
#mt-community-blog .scoring-score-label {
	display: none;
}

.img_L {
	margin-right: 2%!important;
	margin-top: 2%!important;
	float: left;
}

.img_R {
	margin-left: 2%!important;
	margin-top: 2%!important;
	float: right;
}

.clear {
	display: block;
	clear: both;
}

.hidden {
	display: none;
}

/* member-list
---------------*/

body.member div.entry {
	margin-left: 15px;
	margin-right: 15px;
}

body.member .entry > .member {
	margin: 1.5em 0 0.5em 0.5em;
	float: left;
	width: 45%;
	height: 64px;
	padding: 0 1px;
}

body.member .entry > .member p {
	float: left;
	width: 55px;
	margin: 0 2px 2px 0;
}

body.member .entry > .member ul {
	margin: 0 0.3em;
	float: left;
	list-style-type: none;
}

body.member p.topicPath {
	clear: both;
}

/* profile-view
---------------*/

body.profile h1 img {
	vertical-align: top;
}

body.profile div.inline {
	margin: 0;
	position: relative;
	left: 130px;
	bottom: 40px;
}

body.profile div.inline p {
	display: inline;
}

body.profile div.entry {
	margin-top: -22px;
}

body.profile article.headline > h2.icon-comment,
body.profile article.headline > h2.icon-entry,
body.profile article.headline > h2.icon-score {
	padding-left: 15px;
}

/* IE6 - なにがあってもカラム落ちを防ぐ
---------------*/

#main,
#utilities div.navi,
#utilities div.others {
	_overflow: hidden;
}

div.debug-panel { display: none; }

